* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: Nunito, Helvetica, sans-serif;
    font-weight: lighter;
}

/* Header styling*/

.header {
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    background-color: #D9D9D9;
    opacity: 95%;
}

.header__logo {
    background-color: #D9D9D9;
    float: left;
    max-width: 100px;
    max-height: 100px;
    margin: 1rem;
    margin-left: 4em;
}

.header__logo-name {
    color: #181A20;
    background-color: #D9D9D9;
    font-size: 35px;
    
}

.header__list-wrapper {
    background-color: #D9D9D9;
    width: 70%;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 10em;
    align-items: flex-end;
}

.header__nav-list {
    background-color: #D9D9D9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 6em;
    
}

.header__nav-title {
    background-color: #D9D9D9;
    color: #181A20;
    list-style: none;
    font-size: 20px;
    width: 8em;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 1em;

}

.header__search-button, .fa-search {
    background-color: #D9D9D9;
    font-weight: lighter;
    float: right;
    height: 70px;
    width: 70px;
    margin-right: 3rem;
    margin-top: 1rem;
    border: none;
}

/* Hero styling */



