* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito, Helvetica, sans-serif;
    font-weight: lighter;
}

/* * {border:1px solid red} */

/* ----- Header styling ----- */

.header {
    position: fixed;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 100vw;
    align-items: center;
    background-color: #D9D9D9;
    opacity: 95%;
}

.header__logo {
    float: left;
    max-width: 100px;
    max-height: 100px;
    margin: 1rem;
    margin-left: 4em;
}

.header__logo-name {
    color: #181A20;
    font-size: 35px;
    text-decoration: none;
    
}

.header__list-wrapper {
    width: 70%;
    display: flex;
    align-items: flex-end;
}

.header__nav-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 3rem;
}

.header__nav-title {
    color: #181A20;
    list-style: none;
    font-size: 20px;
    width: 8em;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

.dropdown {
    display: none;
}

.dropdown__nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.header__search-button, .dropdown__button {
    display: none;
    
    background-color: #D9D9D9;
    font-weight: lighter;
    float: right;
    height: 70px;
    width: auto;
    margin-right: 3rem;
    margin-top: 1rem;
    border: none;
}

.header__search-button:hover {
    cursor: pointer;
}




/* ----**** LANDING PAGE ****----- */

/* ---- Hero styling ----- */

.hero-image {
    background-image: url("bonzai-assets/assets/photos/09-day.jpg");
    
    width: 100%; 
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.hero__welcome-text {
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 1em 6em;

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero__button {
    background-color: white;
    opacity: 80%;
    border: none;
    color: #181A20;
    border-radius: 1px;
    padding: 0.5em 3em;
    text-decoration: none;
    font-size: 30px;

    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.hero__button:hover {
    background-color: white;
    opacity: 100%;

    cursor: pointer;
}


/* ---- Landing styling ----- */

.landing-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.landing-card__title {
    font-size: 70px;
    text-align: center;
    padding: 3rem 25%;
}

.landing-card__text {
    font-size: 20px;
    text-align: center;
    padding: 0 25% 3rem 25%;
}

.landing-card__image {
    width: 70%;
    height: auto;
    align-self: center;
} 

/* ----**** ABOUT PAGE ****----- */

.about__image-background {
    width: 100%; 
    height: 100vh; 
    background-image: url('bonzai-assets/assets/photos/08-day.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.about__background {
    background-color: white;
    opacity: 95%;

    text-align: center; 
    padding: 4rem 10rem 2rem 10rem;
    margin: 0 20%;
    margin-top: 10%;
    margin-bottom: 50px;
}

.about__title {
    font-size: 70px;
    margin-bottom: 2rem;
    z-index: 2;
}

.about__text {
    font-size: 20px;
    margin-bottom: 2rem;
    z-index: 2;
}

/* ----**** BOOK PAGE ****----- */
/* ---- Hero styling ----- */
.book-hero {
    background-image: url("bonzai-assets/receptionists -Image by Rodrigo Salomón Cañas from Pixabay.jpg");
    
    /* om jag vill ha svart gradient bakgrund på bilden*/
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))*/

    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.book-card {
    display: grid;
    grid-template-areas: 
    "title title"
    "in out"
    "nr nr"
    "book book";

    column-gap: 10px;
     row-gap: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.5);
    
    width: auto;
    height: auto;
    padding: 1em;
}

.book-card__title {
    grid-area: title;
    font-size: 25px;
    text-align: center;
}

.book-card__text {
    font-size: 25px;
    padding: 0;
}

.book-card__dates {
    background-color: #D9D9D9;
    opacity: 100%;
    width: 160px;
    text-align: center;
    padding: 1em;
}

.book-card__dates--in {
    grid-area: in;
}

.book-card__dates--out {
    grid-area: out;
}

.book-card__date {
    font-size: 50px;
}

.book-card__guest-nr {
    grid-area: nr;
    display: flex;
    justify-content: space-between;

    font-size: 20px;
    background-color: #D9D9D9;
    opacity: 100%;
    padding: 0.5rem 1rem;
}

.fa-chevron-down {
    font-size: 25px;
}

.book-card__book-button {
    grid-area: book;

    background-color: #D9D9D9;
    opacity: 100%;
    border: none;
    color: #181A20;
    border-radius: 1px;
    padding: 0.5em 3em;
    text-decoration: none;
    font-size: 20px;
}


/* ---- Room Title ----- */
.room-titles {
    text-align: center;
    color: #181A20;

    margin: 3rem;
}

.room-titles__title {
    font-size: 70px;
}

.room-titles__subtitle {
    font-size: 30px;
}

/* ---- Room Card ----- */
.room-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 3rem;
}

.room-card__image {
        width: 70%;
        height: auto;
        align-self: center;
}

.room-card__name {
    font-size: 60px;
    padding: 3rem 25%;
    text-align: center;
}

.room-card__text {
    font-size: 20px;
    text-align: center;
    padding: 0 25% 3rem 25%;
}

.room-card__icons {
    display: flex;
    flex-direction: row;
    margin: 3rem;
}

.fa-shower {
    margin: 0 1rem;
}

.room-card__button {
    background-color: #181A20;
    opacity: 80%;
    border: none;
    color: white;
    border-radius: 1px;
    padding: 0.5em 3em;
    text-decoration: none;
    font-size: 25px;
}

.room-card__button:hover {
    background-color: #1F222A;
    opacity: 100%;

    cursor: pointer;
}

/* ------- Footer styling -------- */

.footer {
    background-color: #1F222A;
    color: #FAFAFA;
    min-height: 260px;
    min-width: 100%;

    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2em;
}

.footer__column1, .footer__column2, .footer__column3 {
    flex-wrap: wrap;
    min-width: 150px;
    display: flex;

    margin-right: 3rem;
}

.footer__column1 {
    flex-direction: column;
}

.footer__column2 {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 8em;
}

.footer__column3 {
    align-items: flex-end;
    margin-bottom: 1.5em;
}

.fa-facebook, .fa-instagram {
    color: white;
    text-decoration: none;
    margin-left: 1em;
}

.footer__title {
    font-size: 30px;
}

.footer__subtitle {
    font-weight: 20px;
    margin-bottom: 1em;
}

.footer__text {
    font-size: 16px;
}

.footer__logo {
    justify-content: flex-end;
    max-width: 188px;
    max-height: 188px;
    margin-left: auto;
}

/* ------ MEDIA QUERIES smaller than 970px-----*/

@media only screen and (max-width: 970px) {
    .header__nav-list {
        display: none;
    }

    .header__logo {
        margin-left: 1rem;
    }
    

    .header__search-button {
        display: flex;

        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
    }

    .dropdown {
        display: block;
    }

    .dropdown__button {
        display: flex;

        position: absolute;
        top: 50%;
        left: 90%;
        transform: translate(-50%, -50%);
    }

    .dropdown__nav-list {
        display: none;
        position: absolute;
        top: 145%;
        left: 90%;
        transform: translate(-50%, -50%);

        background-color: #D9D9D9;
        opacity: 100%;
        width: 150px;
        text-align: center;
        box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.8);
    }

    .dropdown__nav-title {
        color: #181A20;
        list-style: none;
        font-size: 20px;
        width: 100%;
        padding: 5px 0;
        margin: 0;
        text-decoration: none;
    }

    .header__search-button:hover {
        cursor: pointer;
    }

    .dropdown:hover .dropdown__nav-list { 
        display: block; } 

    .dropdown__nav-list li:hover {
        background-color: #b4b4b4;
    }
 

     /* LANDING PAGE */
    .hero-image {
        margin-bottom: 2rem;
    }

     .hero__welcome-text {
        padding: 0;
        font-size: 20px;
     }

     .hero__button {
        padding: 0.5em 3em;
        font-size: 20px;

        position: absolute;
        top: 85%;
        left: 50%;
     }

     .landing-card__image, .room-card__image {
        width: 90vw;
     }

     .landing-card__title, .room-card__name {
        font-size: 30px;
        padding: 1rem;
     }

     .landing-card__text, .room-card__text {
        padding: 0 2rem 2rem 2rem;
        font-size: 16px;
     }

    /* BOOK PAGE */

    .room-titles__title {
        font-size: 40px;
    }

    .room-titles__subtitle {
        font-size: 20px;
    }

    .room-card__text {
        padding-bottom: 0;
    }

    .room-card__button {
        font-size: 20px;
    }

    /* ABOUT PAGE */

    .about__background {
        padding: 3rem 1rem;
        margin: 0 10%;
        margin-top: 20%;
    }

    .about__title {
        font-size: 40px;
    }

    .about__text {
        font-size: 16px;
        margin-bottom: 1rem;
    }

    /* FOOTER */

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__column1, .footer__column2, .footer__column3 {
        text-align: center;
        padding: 1rem;
        margin: 0;
    }

    .footer__column2 {
        justify-content: center;
        align-items: center;
    }

    .footer__logo {
        padding: 0;
        margin: 0;
    }

    .fa-facebook, .fa-instagram {
        margin: 0;
        padding: 1rem;
    }

} /* ------ MEDIA QUERIES smaller than 970px END-----*/



/* ------ MEDIA QUERIES Bigger than 971px-----*/

@media only screen and (min-width: 971px) {
    .header__search-button, .dropdown__button {
        display: block;
    }

     /* ABOUT PAGE */

     .about__background {
        padding: 3rem 1rem;
        margin: 0 10%;
        margin-top: 20%;
    }

    .hero__welcome-text {
        padding: 1rem;
    }

    .room-card__text {
        padding-bottom: 0;
    }

} /* ------ MEDIA QUERIES bigger than 970px END-----*/


@media only screen and (min-width: 1200px) {
    .about__background {
        background-color: white;
        opacity: 95%;
    
        text-align: center; 
        padding: 4rem 10rem 2rem 10rem;
        margin: 0 20%;
        margin-top: 10%;
        margin-bottom: 50px;
    }
}